<header>
    <h2>{{ site.title }}</h2>
    <h3>{{ site.description }}</h3>
    <nav>
        <ul>
            <li><a href="/categories/education">Education</a></li>
            <li><a href="/categories/opinion">Opinion</a></li>
            <li><a href="/categories/local">Local</a></li>
            <li><a href="/categories/national">National</a></li>
            <li><a href="/categories/world">World</a></li>
            <li><a href="/categories/technology">Technology</a></li>
        </ul>
    </nav>
</header>
